body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: radial-gradient(circle, rgba(0, 51, 102, 1) 0%, rgba(102, 204, 255, 0.6) 50%, rgba(0, 51, 102, 1) 100%);
    background-size: 200% 200%;
    animation: backgroundAnimation 15s ease infinite, starrySky 150s linear infinite, backgroundPulse 10s ease-in-out infinite;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes backgroundPulse {
    0% {
        background: radial-gradient(circle, rgba(0, 51, 102, 1) 0%, rgba(102, 204, 255, 0.6) 50%, rgba(0, 51, 102, 1) 100%);
    }
    50% {
        background: radial-gradient(circle, rgba(0, 51, 102, 0.9) 0%, rgba(102, 204, 255, 0.7) 50%, rgba(0, 51, 102, 0.9) 100%);
    }
    100% {
        background: radial-gradient(circle, rgba(0, 51, 102, 1) 0%, rgba(102, 204, 255, 0.6) 50%, rgba(0, 51, 102, 1) 100%);
    }
}

@keyframes starrySky {
    0% {
        background: radial-gradient(circle, rgba(0, 51, 102, 1) 0%, rgba(102, 204, 255, 0.6) 50%, rgba(0, 51, 102, 1) 100%), url('https://cdn.pixabay.com/photo/2018/01/15/07/51/stars-3088334_960_720.jpg');
        background-blend-mode: overlay;
    }
    50% {
        background: radial-gradient(circle, rgba(0, 51, 102, 1) 0%, rgba(102, 204, 255, 0.5) 50%, rgba(0, 51, 102, 1) 100%), url('https://cdn.pixabay.com/photo/2018/01/15/07/51/stars-3088334_960_720.jpg');
        background-blend-mode: overlay;
    }
    100% {
        background: radial-gradient(circle, rgba(0, 51, 102, 1) 0%, rgba(102, 204, 255, 0.6) 50%, rgba(0, 51, 102, 1) 100%), url('https://cdn.pixabay.com/photo/2018/01/15/07/51/stars-3088334_960_720.jpg');
        background-blend-mode: overlay;
    }
}

.container {
    position: relative;
    z-index: 10;
    text-align: center;
    background-color: rgba(80, 76, 76, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    animation: boxMovement 10s linear infinite;
}

@keyframes boxMovement {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(50px, -50px);
    }
    50% {
        transform: translate(0, -100px);
    }
    75% {
        transform: translate(-50px, -50px);
    }
    100% {
        transform: translate(0, 0);
    }
}

h1 {
    margin-bottom: 20px;
    color: #2998f3;
}

.psaci {
    background-color: #62d0fc;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.request-button {
    width: 100%;
    background-color: #4CAF50;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.instagram {
    background-color: #E1306C;
}

.instagram:hover {
    background-color: #C13584;
}

.youtube {
    background-color: #FF0000;
}

.youtube:hover {
    background-color: #CC0000;
}

.discord {
    background-color: #7289DA;
}

.discord:hover {
    background-color: #5A67D8;
}

.spotify {
    background-color: chartreuse;
}

.spotify:hover {
    background-color: #4CAF50;
}

.request-button:hover {
    background-color: #45a049;
}

/* Styly pro formulář */
.request-form {
    display: none;
    flex-direction: column;
    margin-top: 20px;
}

.request-form input,
.request-form textarea {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.request-form textarea {
    resize: none;
}

.submit-button {
    background-color: #45a049;
    width: 100%;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #3e8e41;
}

.error-message {
    color: #FF0000;
}

.social-buttons {
    display: flex;
    justify-content: space-between; /* Používá se space-between pro dotýkání */
    gap: 0; /* Nastaví mezery na 0, aby se tlačítka dotýkala */
}

.social-buttons .btn {
    flex: 1; /* Zajistí rovnoměrné rozložení tlačítek */
    padding: 10px; /* Nastaví padding pro tlačítka */
    font-size: 0.9em; /* Upravuje velikost textu na tlačítkách */
    height: 20px; /* Nastaví fixní výšku tlačítek */
    margin: 0; /* Odstraní margin mezi tlačítky */
}
/* Styly pro lištu jazyka */
.language-bar {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

.language-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.language-options {
    display: none;
    flex-direction: column;
    background-color: #4CAF50;
    border-radius: 5px;
    margin-top: 10px;
}

.language-options a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.language-options a:hover {
    background-color: #45a049;
}
